          <div>
            <div class="panel-body col-xs-12">
              <div class="box border red">
                <div class="box-title">
                  <div id="filter">
                    <input type="text" placeholder="Search" ng-model="query"> <i class="fa fa-search search-icon"></i>
                  </div>
                </div>
                <div class="box-body">
                  <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                      <li ng-click="tabClick($event)" class="active">
                        <a href="#box_tab1" data-toggle="tab" style="pointer-events: none; cursor: default;">
                          조회 BEST
                        </a>
                      </li>
                      <li ng-click="tabClick($event)">
                        <a href="#box_tab2" data-toggle="tab" style="pointer-events: none; cursor: default;">
                          추천 BEST
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="box_tab1">
                        <div class="list-group">
                          <div ng-repeat="tutorial in tutorials | filter:query | orderBy:predicat:reverse" ng-bind-html-unsafe="tutorial.starImgs">
                            <a href="#" class="list-group-item">
                              {{tutorial.title}}
                              <div class="pull-right"><img src='static/img/yellostar_small.png' alt=''><img src='static/img/yellostar_small.png' alt=''><img src='static/img/yellostar_small.png' alt=''><img src='static/img/yellostar_small.png' alt=''><img src='static/img/whitestar_small.png' alt=''> ({{tutorial.ratings}}/232리뷰)</div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="box_tab2">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="tutorial in tutorials | filter: query | orderBy:predicat:reverse">
                            {{tutorial.title}}
                            <p class="pull-right">
                              <i class="fa fa-thumbs-o-up"></i> 10
                            </p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="builderMode">
                <button class='btn btn-block btn-primary' id='executeBuilder' ng-click='ngClick()'><i class='fa fa-edit'></i> 튜토리얼 제작하기</button>
                <a href="#signinPage" style="text-decoration: none"><button class='btn btn-primary btn-block' id='signinRequestMessage'>로그인 해주세요</button></a>
              </div>                                                                                                                          
            </div>
          </div>

          <div class="modal fade" id="exitBuilderModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body" style="font-size: 1.4em;">
                  <p>Do you really want to quit?</p>
                </div>
                <div class="modal-footer" style="margin-top: 0">
                  <button type="button" class="btn btn-danger btn-block" id="quitBuilder" ng-click="quitClick()">Quit</button>
                  <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
