<div id="loginCtrl">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form name="loginForm" id="loginForm" ng-controller="signinPageController" ng-submit="login()" novalidate>
			<input class="form-control" placeholder="Username" type="text" id="username" ng-model="username" style="margin: 10px 0">
			<input class="form-control" placeholder="Password" type="password" id="password" ng-model="password">
			<a href="#" style="margin: 2px 0; display:block; font-size: 1em;">Sign-up for a new account!</a>
			<a href="#" style="margin-bottom: 10px; display:block; font-size: 1em;">Have you lost your id/password?</a>
			<button class="btn btn-block btn-primary pull-right" type="submit" style="margin-bottom: 10px">Sign-in</button>
		</form>
	</div>
</div>

<div class="modal fade" id="signErrorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Login Error! Please try again!</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->