section {
    background-color: #285f9c;
    main {
        background-color: #ffffff;
    }
    #webbles-left-tab {
        width: 200px;
        height: 38px;
        margin: 0;
        text-align: center;
        &.active > a {
            color: #3f3f3f;    
        }
        &:hover > a {
            color: #3f3f3f;    
        }
        & > a {
            border-left: 1px solid #ababab;
            border-top: 1px solid #ababab;
            border-right: 1px solid #ababab;
            border-bottom: 0;
            margin: 0;
            border-top-right-radius: 15px;
            border-top-left-radius: 6px;
            color: #fff;
            font-size: 12px;
        }
    }
    #webbles-right-tab {
        width: 200px;
        height: 38px;
        margin: 0;
        text-align: center;
        &.active > a {
            color: #3f3f3f;    
        }
        &:hover > a {
            color: #3f3f3f;    
        }
        & > a {
            border-right: 1px solid #ababab;
            border-top: 1px solid #ababab;
            border-left: 1px solid #ababab;
            border-bottom: 0;
            margin: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 6px;
            color: #fff;
            font-size: 12px;
        }
    }
    table {
        margin: 0;
    }
    main {
        border: 1px solid #ababab;
        border-top: 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 0;
        padding-top: 20px;
    }
    .nav>li>a {
        padding: 10px 15px;
    }
    .nav-tabs {
        border-bottom: 0;
    }
    #search-section {
        padding: 0 16px;
        & > input:nth-child(1) {
            border-radius: 16px;
            border: 1px solid #ababab;
            text-indent: 10px;
            width: 246px;
            height: 32px;
            display: block;
            float: left;
            color: #3f3f3f;
            font-size: 12px;
            &:focus {
                border: 0;
                outline: none !important;
                border: 1px solid #ababab;
                border-radius: 16px;
                background-color: #e8f1ff;
            }
        }
        & > input[type="image"]:nth-child(2) {
            margin-left: -32px;
            float: left;
            display: block;
            border: 0;
            outline: none !important;
            &:hover {
                border: 0;
                border-radius: 16px;
                outline: none !important;
            }
            &:active {
                border: 0;
                border-radius: 16px;
                outline: none !important;
            }
            &:focus {
                border: 0;
                border-radius: 16px;
                outline: none !important;
            }
        }
        & > select {
            border: 1px solid #ababab;
            -webkit-appearance: none;
            /*Removes default chrome and safari style*/
            -moz-appearance: none;
            /* Removes Default Firefox style*/
            background-color: #fff;
            width: 104px;
            /*Width of select dropdown to give space for arrow image*/
            height: 32px;
            text-indent: 10px;
            /* Removes default arrow from firefox*/
            text-overflow: "";
            /*Removes default arrow from firefox*/
            /*My custom style for fonts*/
            border-radius: 15px;
            margin-left: 16px;
            display: block;
            float: left;
            color: #3f3f3f;
            font-size: 12px;
            &:focus {
                border: 0;
                outline: none !important;
                border: 1px solid #ababab;
                border-radius: 16px;
            }
        }
        img {
            float: left;
            display: block;
            margin-left: -32px;
            pointer-events: none;
        }
    }
    #webbles-wrapper-search-result {
        clear: both;
        p {
            margin-bottom: 0;
            padding: 19px;
            font-size: 12px;
            color: #7a7a7a;
            text-align: center;
        }
    }
    #webbles-tutorials-list {
        height: 360px !important;
        overflow-y: auto;
        table {
            margin: 0;
            // & > tbody {
            //     & > tr.repeated-item.ng-scope.active > td {
            //         background-color: #e8f1ff;
            //         border: 0;
            //     }
            //     & > tr.repeated-item.ng-scope.active + tr > td {
            //         border: 0px;
            //     }
            // }
            & > tbody {
                & > tr.repeated-item.ng-scope.active > td {
                    background-color: #e8f1ff;
                    border: 0;
                }
            }
            & > tbody > tr > td {
                width: 50px;
                padding: 0;
                font-size: 12px;
                border: 0;
                border-top: 1px solid #ababab;
                height: 72px;
                vertical-align: middle;
                color: #285f9c;
            }
            & > tbody > tr > td:nth-child(1) {
                width: 232px;
                font-size: 14px;
                padding-left: 16px;
            }
            & > tbody > tr > td:nth-child(4) {
                color: #dca800;
                width: 76px;
                padding-right: 16px;
            }
        }
    }
}