.ycs-outline-hovered {
  outline: 1px solid #ff0000 !important;
}
 
.ycs-outline-clicked {
  outline: 1px solid #0000ff !important;
}

#ycs-handler #handler {
  margin: 30px auto auto 30px;
  width: 320px !important;
  height: 143px !important;
}

#ycs-handler #handler .modal-dialog {
  margin: 0px 10px 20px;
  width: 300px !important;
  height: 123px !important;
}