#contents .popover {
  padding: 0;
  background: rgb(212, 63, 58);
  border: none;
  border-radius: 6px;
  min-width: 400px;

}

#contents .popover.right .arrow:after {
  border-right-color: rgb(212, 63, 58);
  border-right-color: rgb(212, 63, 58, 0.25);
}

#contents .popover-title {
  background-color: inherit;
  border-bottom: none;
  font-size: inherit;
}

#contents .popover-title, .popover-content {
  padding-left: 0;
  padding-right: 0;
}

#edit .popover-title{

  color: rgb(0,0,0);

}

#edit .popover-content{


}

.panel {
  margin-left: 0;
  margin-bottom: 0;
  border: none;
}

.panel .panel-heading {
  color: rgb(255, 255, 255);
  background-color: rgb(212, 63, 58);
}

.panel .panel-heading a {
  color: rgb(255, 255, 255);
}

.panel .panel-body {
  padding: 15px 15px;
}

.panel .panel-body .col-xs-12 {
  margin-bottom: 15px;
}

.panel .panel-body .form-group {
  margin: 0;
}