section {
  background-color: #285f9c; }
  section main {
    background-color: #ffffff; }
  section #themesSection {
    padding-top: 0; }
    section #themesSection > div.theme-numbers {
      text-align: center;
      font-size: 12px;
      color: #7a7a7a;
      padding: 16.5px 0;
      border-bottom: 1px solid #ababab; }
    section #themesSection div.themes-wrapper {
      font-size: 0;
      overflow-y: auto;
      height: 360px !important;
      overflow-y: auto; }
      section #themesSection div.themes-wrapper > div > div.theme-description h3 {
        cursor: pointer; }
      section #themesSection div.themes-wrapper > div > div.theme-image {
        cursor: pointer; }
      section #themesSection div.themes-wrapper > div > div.theme-image > p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 0;
        color: #285f9c; }
      section #themesSection div.themes-wrapper > div > div.theme-image > img {
        display: block;
        margin: 20px auto 6px; }
      section #themesSection div.themes-wrapper > div.theme-item:nth-child(2n) {
        border: 0;
        border-bottom: 1px solid #ababab; }
      section #themesSection div.themes-wrapper > div.theme-item:nth-child(2n-1) {
        border: 0;
        border-right: 1px solid #ababab;
        border-bottom: 1px solid #ababab; }
      section #themesSection div.themes-wrapper > div.theme-item {
        display: inline-block;
        width: 50%;
        position: relative;
        height: 180px;
        vertical-align: top; }
        section #themesSection div.themes-wrapper > div.theme-item > div.theme-image {
          display: block;
          width: 98px;
          height: 98px;
          border-radius: 51px;
          border: 1px solid #285f9c;
          background-color: rgba(232, 241, 255, 0.3);
          background-size: cover;
          background-position: center center;
          margin: 12px auto 8px;
          background-repeat: no-repeat; }
        section #themesSection div.themes-wrapper > div.theme-item > div.theme-description {
          padding: 0 18px; }
        section #themesSection div.themes-wrapper > div.theme-item > div.theme-description > h3 {
          text-align: center;
          font-size: 14px;
          margin: 0;
          margin-bottom: 6px;
          color: #3c5082; }
        section #themesSection div.themes-wrapper > div.theme-item > div.theme-description > p {
          text-align: center;
          font-size: 10px;
          margin: 0;
          color: #737ea0; }
  section #webbles-left-tab {
    width: 200px;
    height: 38px;
    margin: 0;
    text-align: center; }
    section #webbles-left-tab.active > a {
      color: #3f3f3f; }
    section #webbles-left-tab:hover > a {
      color: #3f3f3f; }
    section #webbles-left-tab > a {
      border-left: 1px solid #ababab;
      border-top: 1px solid #ababab;
      border-right: 1px solid #ababab;
      border-bottom: 0;
      margin: 0;
      border-top-right-radius: 15px;
      border-top-left-radius: 6px;
      color: #fff;
      font-size: 12px; }
  section #webbles-right-tab {
    width: 200px;
    height: 38px;
    margin: 0;
    text-align: center; }
    section #webbles-right-tab.active > a {
      color: #3f3f3f; }
    section #webbles-right-tab:hover > a {
      color: #3f3f3f; }
    section #webbles-right-tab > a {
      border-right: 1px solid #ababab;
      border-top: 1px solid #ababab;
      border-left: 1px solid #ababab;
      border-bottom: 0;
      margin: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 6px;
      color: #fff;
      font-size: 12px; }
  section table {
    margin: 0; }
  section #search-section > select {
    cursor: pointer; }
  section main {
    border: 1px solid #ababab;
    border-top: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0;
    padding-top: 20px; }
  section .nav > li > a {
    padding: 10px 15px; }
  section .nav-tabs {
    border-bottom: 0; }
  section #search-section {
    padding: 0 16px; }
    section #search-section > input:nth-child(1) {
      border-radius: 16px;
      border: 1px solid #ababab;
      text-indent: 10px;
      width: 246px;
      height: 32px;
      display: block;
      float: left;
      color: #3f3f3f;
      font-size: 12px; }
      section #search-section > input:nth-child(1):focus {
        border: 0;
        outline: none !important;
        border: 1px solid #ababab;
        border-radius: 16px;
        background-color: #e8f1ff; }
    section #search-section > input[type="image"]:nth-child(2) {
      margin-left: -32px;
      float: left;
      display: block;
      border: 0;
      outline: none !important; }
      section #search-section > input[type="image"]:nth-child(2):hover {
        border: 0;
        border-radius: 16px;
        outline: none !important; }
      section #search-section > input[type="image"]:nth-child(2):active {
        border: 0;
        border-radius: 16px;
        outline: none !important; }
      section #search-section > input[type="image"]:nth-child(2):focus {
        border: 0;
        border-radius: 16px;
        outline: none !important; }
    section #search-section > select {
      border: 1px solid #ababab;
      -webkit-appearance: none;
      /*Removes default chrome and safari style*/
      -moz-appearance: none;
      /* Removes Default Firefox style*/
      background-color: #fff;
      width: 104px;
      /*Width of select dropdown to give space for arrow image*/
      height: 32px;
      text-indent: 10px;
      /* Removes default arrow from firefox*/
      text-overflow: "";
      /*Removes default arrow from firefox*/
      /*My custom style for fonts*/
      border-radius: 15px;
      margin-left: 16px;
      display: block;
      float: left;
      color: #3f3f3f;
      font-size: 12px; }
      section #search-section > select:focus {
        border: 0;
        outline: none !important;
        border: 1px solid #ababab;
        border-radius: 16px; }
    section #search-section img {
      float: left;
      display: block;
      margin-left: -32px;
      pointer-events: none; }
  section #webbles-wrapper-search-result {
    clear: both;
    border-bottom: 1px solid #ababab; }
    section #webbles-wrapper-search-result p {
      margin-bottom: 0;
      padding: 19px;
      font-size: 12px;
      color: #7a7a7a;
      text-align: center; }
  section #webbles-tutorials-list {
    height: 360px !important;
    overflow-y: auto; }
    section #webbles-tutorials-list table {
      margin: 0; }
      section #webbles-tutorials-list table > tbody > tr.repeated-item.ng-scope.active > td {
        background-color: #e8f1ff;
        border: 0; }
      section #webbles-tutorials-list table > tbody > tr > td.first-right {
        color: #dca800;
        width: 71px;
        padding: 0; }
      section #webbles-tutorials-list table > tbody > tr > td.second-right {
        width: 71px;
        padding: 0; }
      section #webbles-tutorials-list table > tbody > tr > td {
        width: 55px;
        padding: 0;
        font-size: 12px;
        border: 0;
        border-bottom: 1px solid #ababab;
        height: 72px;
        vertical-align: middle;
        color: #285f9c; }
      section #webbles-tutorials-list table > tbody > tr > td:nth-child(1) {
        width: 201px;
        font-size: 14px;
        padding-left: 16px;
        padding-right: 16px; }
        section #webbles-tutorials-list table > tbody > tr > td:nth-child(1) a {
          color: #3c5082;
          font-size: 14px;
          cursor: pointer; }
        section #webbles-tutorials-list table > tbody > tr > td:nth-child(1) a:hover {
          text-decoration: none; }
      section #webbles-tutorials-list table > tbody > tr > td:nth-child(6) > img {
        display: block;
        padding-left: 27px; }

/*# sourceMappingURL=list-tutorials.css.map */
