.___tbb___.___tbb__tb___.___tbb__fa___.___tbb__sn___.___tbb__ee___{
  font-family:"NanumBarunGothic";
}
.___tbb___.___tbb__tb___.___tbb__fa___.___tbb__sn___.___tbb__ee___ .modal-content{
  min-width: 628px;
  min-height: 566px;
  border-width: 8px;
  border-radius: 6px;  
  border-color: #285F9C;
  background-color: #285F9C;
}
.___tbb___.___tbb__tb___.___tbb__fa___.___tbb__sn___.___tbb__ee___ .modal-content .modal-body{
  min-width: 612px;
  min-height: 361px;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
}
.___tbb___.___tbb__tb___.___tbb__fa___.___tbb__sn___.___tbb__ee___ .modal-content .modal-footer .btn-login{
  min-width: 612px;
  min-height: 361px;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
}
.___tbb___.___tbb__tb___.___tbb__fa___.___tbb__sn___.___tbb__ee___ .modal-content .modal-footer .btn-start{
  min-width: 612px;
  min-height: 361px;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
}
min-width: 114px;
              max-width: 114px;
              min-height: 28px;
              max-height: 28px;
              border-radius: 14px;
              background-color: #285f9c;
              color: #ffffff;
              border: 0px;
              padding: 0px;
              padding-top: 3px;